<h2>Welcome {{s_register.firstName}} {{s_register.lastName}}</h2>

{{#if userInfo}}
    <p> yes</p>
{{else}}
    <p> no</p>
{{/if}}
{{#if user}}
    <p> yes</p>
{{else}}
    <p> no</p>
{{/if}}
{{#if s_register}}
    <p> yes</p>
{{else}}
    <p> no</p>
{{/if}}